.content {
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows:0.5fr 1.5fr 1;
    grid-template-areas:
    "nav-container"
    "page-container"
    "footer";
    grid-gap: 0.2rem;
}

#nav-container {
    grid-area: nav-container;
}

#page-container {
    grid-area: page-container;
}

footer {
    grid-area: footer;
}

